@import url('https://fonts.googleapis.com/css2?family=Lato&family=Space+Mono:ital,wght@1,700&display=swap');

body {
  color: #000a24;
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(21 21 21 / 85%);
  width: 100%;
  height: 100vh;
  z-index: 20;
  backdrop-filter: blur(5px);
  overflow-y: hidden;
}

.popup-container {
  position: fixed;
  border-radius: 15px;
  left: calc(50% - 250px);
  height: 85%;
  margin-top: 60px;
  padding: 25px;
  background-color: rgb(235, 235, 235);
  z-index: 20;
  overflow-y: auto;
}

.inner-content,
.comment-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input[name="username"],
textarea[name="insights"] {
  margin-bottom: 20px;
}

.photo-close img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.fixed-top {
  z-index: 20;
  box-shadow: 0 12px 16px 6px rgb(0 0 0 / 5%);
}

.photo-close span {
  margin: -20px;
  position: absolute;
  right: 30px;
}

.btn-add-comment {
  margin: 20px 0;
  align-self: flex-end;
}

.movies-display {
  margin-top: 85px;
}

.footer-z {
  z-index: 19;
  font-family: inherit;
  text-align: center;
}

footer,
.footer-margin {
  margin-bottom: 0;
}

.center-it {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 10px;
}

.center-it:hover {
  cursor: pointer;
}

.separation {
  justify-content: space-between;
}

.close-popup:hover {
  cursor: pointer;
}

.like:hover {
  cursor: pointer;
}

.movie-container {
  box-shadow: 0 12px 16px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 7px;
  border: 2px solid transparent;
}

.movie-container:hover {
  border: 2px solid rgb(88, 88, 88);
  transform: scale(1.06);
  transition: 300ms ease-in-out;
}

.img-top {
  margin-top: 15px;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: white;
  border: none;
}

.btn:hover {
  color: blue;
}

.move-c {
  text-align: center;
}